<ion-view view-title="Account Information" ng-init"list()">
  <ion-content>
  <ion-list>
    <form ng-submit="saveInfo()">
        <div class="list list-inset">
        <label class="item item-input">
            <span class="input-label">Club Name</span>
            <input type="text" ng-model="regData.clubName">
        </label>
        <label class="item item-input">
            <span class="input-label">Main Location</span>
            <input type="text" ng-model="regData.mainLocation">
        </label>
        <label class="item item-input">
            <span class="input-label">Address</span>
            <input type="text" ng-model="regData.address">
        </label>
        <label class="item item-input">
            <span class="input-label">Contact Number</span>
            <input type="tel" ng-model="regData.contactNumber">
        </label>
        <label class="item item-input">
            <span class="input-label">Contact Name</span>
            <input type="text" ng-model="regData.contactName">
        </label>
        <label class="item item-input">
            <span class="input-label">Website URL</span>
            <input type="text" ng-model="regData.website">
        </label>
        <label class="item">
          <div class="button-bar">
           <button class="button button-light" type="submit">Save Information</button>
          </div>
        </label>
      </div>
    </form>
</ion-list>
                     <!--   <div class="list">
                          <div ng-repeat="information in data.information" class="item">
                            {{information.clubName}} <br>
                            {{information.mainLocation}} <br>
                            {{information.address}} <br>
                            {{information.contactNumber}} <br>
                            {{information.contactName}} <br>
                            {{information.website}}
                          </div>
                        </div> -->
  </ion-content>
</ion-view>
