<ion-view view-title="Create Student">
  <ion-content>
    <ion-list>
        <label class="item item-input">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="First Name">
        </label>
        <label class="item item-input">
            <span class="input-label">Last Name</span>
            <input type="text" placeholder="Last Name">
        </label>
        <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="text" placeholder="Email">
        </label> 
        <label class="item item-input">
            <span class="input-label">Phone Number</span>
            <input type="number">
        </label>
        <label class="item item-input">
            <span class="input-label">Date of Birth</span>
            <input type="date">
        </label>
        <label class="item item-input">
            <span class="input-label">Emergency Contact Name</span>
            <input type="text" placeholder="Emergency Contact Name">
        </label>
        <label class="item item-input">
            <span class="input-label">Emergency Contact Number</span>
            <input type="number">
        </label>
          
        <label class="item">
          <button class="button button-block button-assertive" type="submit">Create</button>
        </label>

    </ion-list>
  </ion-content>
</ion-view>

