<ion-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Login to Fitlife Martial Manager</h1>
  </ion-header-bar>
  <ion-content>
  <div class="list list-inset">
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="loginData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <div class="button-bar">
            <button class="button button-block button-positive" type="submit">Log in</button>
          </div>
        </label>
      </div>
    </form>
    <label class="item">
      <div class="button-bar">
        <button class="button button-light" ng-click="goRegister()">Register</button>          
      </div>
    </label>
</div>
  </ion-content>
</ion-view>
