<ion-view class="ion-view-light" view-title="FitLife">
  <ion-content>
    <ion-list>
        <ion-item href="#/app/classlist">
          Classes
        </ion-item>
        <ion-item href="#/app/studentlist">
          Students
        </ion-item>
        <ion-item href="#/app/mainmenu">
          Timetable
        </ion-item>      
    </ion-list>
  </ion-content>
</ion-view>
