<ion-view>
  <ion-header-bar class="bar-stable">
  <div class="buttons">
<button class="button button-clear icon ion-chevron-left" onclick="location.href='#/login';"> Log In</button>
</div>
    <h1 class="title">Register</h1>
  </ion-header-bar>
  <ion-content>
        <div class="list list-inset">
    <form ng-submit="createUser()">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="regData.email"required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="regData.password" required>
        </label>
        <label class="item item-input"><b>Check your account page in the side menu <br/>to store your business details! (optional)</b></label>
        <label class="item">
          <div class="button-bar">
           <button class="button button-light" type="submit">Register</button>
          </div>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
