<ion-view class="ion-view-light" view-title="Student List">
  <ion-content>
    <ion-list>
        <label class="item">
          <button class="button button-block button-assertive" onclick="location.href='#/app/createstudent';">Add Student</button>
        </label>
    </ion-list>
  </ion-content>
</ion-view>


